@import "tailwindcss";

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
  visibility: hidden;
}

.thin-scrollbar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
}